/*border around all elements, for debugging purpose ONLY*/
/* * {
  border: 0px solid red; }*/

/* On big screens we want content to occupy more space than the standard Bootstrap container*/
@media (min-width:1400px) {
  .container {
    width: 82%;
  }
 }
/* Background block under content text for readability. Client requested it OFF*/
.contblokb{
  background-color: rgba(50, 50, 50, 0.3);
  border-radius: 6px;
}
.contblokw{
  background-color: rgba(111, 111, 111, 0.2);
  border-radius: 6px;
}
.row{
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #fff;
  background-image: url('../images/bg-main-bk.jpg'); /* Fallback bkg img*/
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  color: #eee;
  text-shadow: 1px 1px 0px #000, 1px 1px 2px #333;
  margin-top: 99px;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
  color: #fff;
  text-shadow: 1px 2px 3px #000;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 80px;
}
h3 {
  font-size: 40px;
}
p, .p-large, .p-small {
  /*background-color: rgba(0,0,0,0.15);*/
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  font-weight: 400;
  padding: 20px;
}
.p-large {
  font-size: 30px;
}
.p-small {
  font-size: 20px;
}
@media (max-width:400px) {
  h1{
    font-size: 60px;
  }
  h2{
    font-size: 50px;
  }
  .p-large{
    font-size: 20px;
  }
  .navbar-inverse .navbar-toggle {
    margin-right: -15px;
  }
  #langbar p{
    font-size: 12px;
    float: left;
  }
  .parallax-window{
    padding-top: 120px;
  }
}
.parallax-window {
    min-height: 800px;
    padding-top: 180px;
    background: none;
}
a, a:active, a:visited{
  color: #333;
  text-shadow: none; }
a.btn-shop, a.btn-shop:visited{
  background: rgba(0,0,0,0.3); /*none for true ghost btn*/
  color: #fff;
  /*color: #333;*/
  display: inline-block;
  /*background-color: #e4dbd2;*/
  border: 2px solid #e4dbd2;
  border-radius: 4px;
  padding: 30px 55px;
  margin: 30px 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  width: 50%;
  min-width: 250px;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
a.btn-shop:hover, a.btn-shop:active{
  /*background: rgba(0,0,0,0.3);*/ /*none for true ghost btn*/
  /*color: #fff;*/
  color: #333;
  background-color: #e4dbd2;

}

#langbar{
  margin-left: -30px;
  margin-right: -30px;
  padding: 0px;
  background-color: #333;
  max-height: 36px;
  height: 36px;
  clear: both;
}
#langbar p{color: #eee; padding-top: 7px;}
#langbar a{color: #eee;}

.navbar-inverse {
  padding: 0px 15px;
	color: #111;
	border: 0px;
	border-bottom: 1px solid #e4dbd2;
	background-color: rgb(255,255,255); }
/*.navbar-inverse .navbar-nav ul{
  line-height: 69px;
  min-height: 99px;
  vertical-align: bottom;
}*/
.navbar-inverse .navbar-nav li a {
  padding-top: 22px;
  min-height: 99px;
  max-width: 145px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
	color: #111;
  text-align: center;
  line-height: 19px;
	border-bottom: 4px solid transparent; }
@media (max-width:1440px) {
  body{margin-top: 69px;}
  .navbar-inverse .navbar-nav li a {
    padding-top: 18px;
    font-size: 14px;
    max-width: 125px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
.navbar-inverse .navbar-nav li a:hover {
	color: #111;
  background-color: rgba(228,219,210,0.4);
	content: attr(hover);
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	border-bottom: 4px solid #e4dbd2; }
.navbar-inverse .navbar-brand {
  max-height: 99px;
  height: 99px;
  max-height: 100%;
  line-height: 99px;
  display: inline-block;
  border: 0px;
  margin: 0px;
  padding: 0px; }
.navbar-toggle {
  background-color: #e4dbd2;
  color: #000;
  align-self: right;
}
@media (max-width:1250px) {
  .navbar-inverse .navbar-brand {
    max-height: 69px;
    height: 69px;
    display: inline-block;
    border: 0px;
    margin: 0px;
    padding: 0px; }
  .navbar-header {
    max-height: 69px;
    height: 69px;
    display: inline-block;
    border: 0px;
    margin: 0px;
    padding: 0px; }
  .navbar-toggle {
    font-size: 16px;
    line-height: 16px;
    margin: auto;
    float: right;
  }
  .navbar-inverse .navbar-nav li a {
    font-size: 16px;
    line-height: 16px;
    max-width: none;
    min-height: 16px;
    padding-top: 5px;
  }
  .navbar-header {width: 100%;}
  .navbar-header img {
    float: left;
    vertical-align: middle;
    max-height: 69px;
    height: 69px;
    line-height: 69px;
    display: inline-block;
    border: 0px;
    margin: 0px;
    padding: 0px; }
  .navbar-header button {
    vertical-align: middle;
    display: inline-block;
    margin-top: 20px;
    float: right;
  }
/*}*/
/* navbar button toggle at 1140 px instead of 768 (default) */
/*@media (max-width: 1140px) {*/
    .navbar-header {float: none;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;}
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
/*    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }*/
    .navbar-collapse.collapse {display: none!important;}
/*    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }*/
    .navbar-nav>li {float: none;}
/*    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }*/
    .collapse.in{display:block !important;}
}
.navbar-inverse .navbar-nav li a.wholesale {
  font-weight: 400;
  background-color: #f7f7f7;
  color: #0a0a0a;
}

#footer{
  padding-bottom: 52px;
  background-color: #333;
  color: #fff;
}
#footer a{color: #fff;}

/* NEWSLETTER SECTION - moved to horizontal-slim-css*/
/*#newsletter{
  position: fixed;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 52px;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px;
  color: #000;
  text-shadow: 0 0 0 #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
#mc_embed_signup{
  background:transparent;
  clear:left;
  font:14px 'Roboto', sans-serif;
  font-weight: 100;
  width:100%;
}*/
