* {
  border: 0px solid red; }

@media (min-width:1400px) {
  .container {
    width: 1370px;
  }
  #mainmenu div {
    background-color: #fff;
    min-height: 99px;
    line-height: 99px;
    vertical-align: middle;
  }
 }
@media (min-width:992px) {
 #mainmenu div {
   background-color: #fff;
   min-height: 99px;
   line-height: 99px;
   vertical-align: middle;
 }
}

body {
  background-image: url('../images/bg-main.jpg');
  background-repeat: repeat;
  color: #333;
}
.row {
  min-height: 200px;
  margin-bottom: 20px;
}
#sect1 {
  background-image: url('../images/image1.png');
  background-size: cover;
  padding: 20px;
}
#sect2 {
  background-image: url('../images/image2.png');
  background-size: cover;
  padding: 20px;
}
#sect3 {
  background-image: url('../images/image3.png');
  background-size: cover;
  padding: 20px;
}
#sect4 {
  background-image: url('../images/image4.png');
  background-size: cover;
  padding: 20px;
}
#mainmenu {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
#mainmenu div {
  background-color: #fff;
  vertical-align: middle;
}
#mainmenu a, a:hover, a:active, a:visited {
  color: orange;
  text-decoration: none;
}
h2 {
  font-family: 'Alex Brush', fantasy;
  font-size: 60px;
}
p {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  text-align: justify;
}

/* All parent elements of .bg-holder must be 100% height for vertical stretch to work */
/*html,
body {
  width: 100%;
  height: 100%;
}*/

/*
.bg-holder {
  width: 100%;
  height: 100%;}

.bg-holder#pic1 {
  background-image: url('../images/image1.png');}

.bg-holder#pic2 {
  background-image: url('../images/image2.png');}

section {
  max-width: 1170px;
  text-align: center;
  min-height: 400px;}
*/

/* the following is for use with larger screens. in the above links I can use smaller images */
/*
@media (min-width: 768px) {
  .bg-holder#pic1 {
    background-image: url('../images/image1.png');
  }
  .bg-holder#pic2 {
    background-image: url('../images/image2.png');
  }
}
*/
